@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    text-align: center;
}

button {
    width: 100px;
    height: 37px;
    border: none;
    background-color: #000000;
    color: #ffffff;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

input {
    width: 200px;
    height: 20px;
    border: 1px solid #808080;
    border-radius: 100px;
    padding: 5px;
    margin-bottom: 5px;
    outline: none;
    text-align: center;
}

textarea {
    width: 200px;
    height: 50px;
    border: 1px solid #808080;
    border-radius: 100px;
    padding: 5px;
    margin-bottom: 5px;
    outline: none;
    text-align: center;
    resize: none;
}

a {
    color: #808080;
}

hr {
    border: 1px solid #808080;
}

.entry-form {
	display: inline-block;
	align-items: center;
	justify-content: center;
}